<a href="https://colab.research.google.com/github/henry1987/Colab_Henry/blob/main/henry_test_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [3]:
data = [[1,2,3,4,5],
        [6,7,8,9,10],
        [11,12,13,14,15],
        [16,17,18,19,20],
        [21,22,23,24,25]]
df = pd.DataFrame(data=data, columns=["c1","c2",'c3','c4','c5'])
df

   c1  c2  c3  c4  c5
0   1   2   3   4   5
1   6   7   8   9  10
2  11  12  13  14  15
3  16  17  18  19  20
4  21  22  23  24  25

In [4]:
!pwd

/content

In [9]:
!ls -l

total 4
drwxr-xr-x 1 root root 4096 Nov 13 17:33 sample_data

In [7]:
!cd /

In [8]:
!pwd

/content

In [10]:
!ls -l

total 4
drwxr-xr-x 1 root root 4096 Nov 13 17:33 sample_data

In [11]:
!cd sample_data/

In [12]:
!ls -l

total 4
drwxr-xr-x 1 root root 4096 Nov 13 17:33 sample_data

In [13]:
!pwd

/content

In [14]:
!ls -l sample_data/*

-rwxr-xr-x 1 root root     1697 Jan  1  2000 sample_data/anscombe.json
-rw-r--r-- 1 root root   301141 Nov 13 17:33 sample_data/california_housing_test.csv
-rw-r--r-- 1 root root  1706430 Nov 13 17:33 sample_data/california_housing_train.csv
-rw-r--r-- 1 root root 18289443 Nov 13 17:33 sample_data/mnist_test.csv
-rw-r--r-- 1 root root 36523880 Nov 13 17:33 sample_data/mnist_train_small.csv
-rwxr-xr-x 1 root root      930 Jan  1  2000 sample_data/README.md

In [15]:
df

   c1  c2  c3  c4  c5
0   1   2   3   4   5
1   6   7   8   9  10
2  11  12  13  14  15
3  16  17  18  19  20
4  21  22  23  24  25

In [16]:
df.shape

(5, 5)

In [17]:
!python -V

Python 3.6.9